<app-menu [title]="title"></app-menu>

<ion-content>




  <div class="create">
    <div class="step1" *ngIf="step1"   [@enterAnimation]>


      <form action="">

        <div class="form">
          <ion-item lines="none">
            <ion-label color="medium" position="stacked">{{'CREATE.name' | translate}}</ion-label>
            <ion-input placeholder="{{'CREATE.name_placeholder' | translate}}" [(ngModel)]="form.name"  name="name" autofocus="true"></ion-input>
            <span class="error" *ngIf="errors.length!=0 && errors.name">{{errors.name[0]}}</span>

          </ion-item>


          <ion-item lines="none">
            <ion-label color="medium" position="stacked">{{'CREATE.phone' | translate}}</ion-label>
            <ion-input placeholder="{{'CREATE.phone_placeholder' | translate}}" [(ngModel)]="form.phone" name="phone" autofocus="true"></ion-input>
            <span class="error" *ngIf="errors.length!=0 && errors.phone">{{errors.phone[0]}}</span>

          </ion-item>
          <ion-item lines="none">
            <ion-label color="medium" position="stacked">{{'CREATE.address' | translate}}</ion-label>
            <ion-input placeholder="{{'CREATE.address_placeholder' | translate}}"  [(ngModel)]="form.address" name="address" autofocus="true"></ion-input>
            <span class="error" *ngIf="errors.length!=0 && errors.address">{{errors.address[0]}}</span>

          </ion-item>
          <ion-item lines="none">
            <ion-label color="medium" position="stacked">{{'CREATE.price' | translate}}</ion-label>
            <ion-input placeholder="{{'CREATE.price_placeholder' | translate}}"  [(ngModel)]="form.price" name="price" autofocus="true"></ion-input>
            <span class="error" *ngIf="errors.length!=0 && errors.price">{{errors.price[0]}}</span>

          </ion-item>
          <ion-item lines="none">
            <ion-label color="medium" position="stacked">{{'CREATE.order' | translate}}</ion-label>
            <ion-textarea autoGrow="true" rows="4" [(ngModel)]="form.order" name="order" placeholder="{{'CREATE.order_placeholder' | translate}}"> </ion-textarea>
            <span class="error" *ngIf="errors.length!=0 && errors.order">{{errors.order[0]}}</span>
            <span class="error" *ngIf="errors.length!=0 && errors.image">{{errors.image[0]}}</span>
          </ion-item>
          <div class="images">
            <div class="image" *ngIf="image" >
              <ion-thumbnail height="65" width="65">
                <img [src]="image">
              </ion-thumbnail>
            </div>
            <div class="image-upload">
              <ion-button (click)="openCamera()">
                <ion-icon name="camera-sharp"></ion-icon>
              </ion-button>
            </div>
          </div>



        </div>





      </form>
    </div>
    <div class="step2" *ngIf="step2"   [@enterAnimation]    >


      <div class="top">
        <div class="searchBar">
          <ion-searchbar animated  [(ngModel)]="searchPilots"
          (ionChange)="filterPilots()" placeholder="{{'search' | translate}}" name="searchPilots"></ion-searchbar>

        </div>
        <ion-text>
          {{'CREATE.PILOT.choose' | translate}}
        </ion-text>
      </div>



      <div class="items">



        <!-- List of Input Items -->
        <ion-list lines="full">

          <ion-radio-group value="pilot"  name="pilot" [(ngModel)]="form.pilot" mode="md">

            <div class="item" *ngFor="let pilot of pilots; let i = index">
              <div class="overlay" *ngIf="pilot.status == 'Out For Delivery' || pilot.status == 'Logged Out'"></div>

              <ion-item >
                <ion-thumbnail slot="start">
                  <img  src="{{pilot.image}}">
                </ion-thumbnail>
                <ion-label>
                  <h4>{{pilot.name}}</h4>
                  <h6 class="warning" *ngIf="pilot.status == 'Out For Delivery'">{{'STATUS.out' | translate}}</h6>
                  <h6 class="available" *ngIf="pilot.status == 'Available'">{{'STATUS.available' | translate}}</h6>
                  <h6 class="danger" *ngIf="pilot.status == 'Logged Out'">{{'STATUS.logged' | translate}}</h6>

                </ion-label>
                <ion-radio slot="end" value="{{pilot.id}}"></ion-radio>


              </ion-item>
            </div>

            <!-- <div class="item">
              <div class="overlay"></div>

              <ion-item>
                <ion-thumbnail slot="start">
                  <img src="/assets/images/ricky.png">
                </ion-thumbnail>
                <ion-label>
                  <h4>Ricky Mclaughlin</h4>
                  <h6 class="delivery">Available</h6>
                </ion-label>

                <ion-radio slot="end" value="1"></ion-radio>

              </ion-item>
            </div> -->
          </ion-radio-group>

        </ion-list>
      </div>

      <!-- <div class="assignVehicle">
        <ion-button expand="block" (click)="next()" color="success">Assign A Vehicle</ion-button>

      </div> -->

    </div>


    <div class="step3" *ngIf="step3"   [@enterAnimation]>
      <div class="top">
        <div class="searchBar">
          <ion-searchbar animated placeholder="{{'search' | translate}}" [(ngModel)]="searchVehicles"
          (ionChange)="filterVehicles()" name="searchVehicles"></ion-searchbar>

        </div>
        <ion-text>
          {{'CREATE.VEHICLE.choose' | translate}}
        </ion-text>
      </div>



      <div class="items">



        <!-- List of Input Items -->
        <ion-list lines="full">
          <ion-radio-group value="vehicle" name="vehicle" [(ngModel)]="form.vehicle" [(ngModel)]="form.vehicle" mode="md">

            <div class="item" *ngFor="let vehicle of vehicles; let i = index">
              <div class="overlay" *ngIf="vehicle.status == 'Out For Delivery'"></div>

              <ion-item >
                <ion-thumbnail slot="start">
                  <img src="{{vehicle.image}}">
                </ion-thumbnail>
                <ion-label>
                  <h4>{{vehicle.name}}</h4>
                  <h6 class="warning" *ngIf="vehicle.status == 'Out For Delivery'">{{'STATUS.out' | translate}}</h6>
                  <h6 class="available" *ngIf="vehicle.status == 'Available'">{{'STATUS.available' | translate}}</h6>
                                </ion-label>

                <ion-radio slot="end" value="{{vehicle.id}}"></ion-radio>

              </ion-item>
            </div>
<!-- 
            <div class="item">
              <div class="overlay"></div>

              <ion-item>
                <ion-thumbnail slot="start">
                  <img src="/assets/images/ricky.png">
                </ion-thumbnail>
                <ion-label>
                  <h4>Ricky Mclaughlin</h4>
                  <h6 class="delivery">Available</h6>
                </ion-label>

                <ion-radio slot="end" value="1"></ion-radio>

              </ion-item>
            </div> -->
          </ion-radio-group>


        </ion-list>
      </div>

      <!-- <div class="assignVehicle">
        <ion-button expand="block" (click)="send()" color="success">Send</ion-button>

      </div> -->

    </div>

  </div>


</ion-content>



<ion-footer *ngIf="step1">
  <ion-button color="primary" (click)="next($event,'proceed')" expand="block"> {{'CREATE.proceed' | translate}}</ion-button>
</ion-footer>


<ion-footer *ngIf="step2">
  <ion-button expand="block" (click)="next($event,'pilot')" color="success">{{'CREATE.VEHICLE.title' | translate}}</ion-button>
</ion-footer>

<ion-footer *ngIf="step3">
  <ion-button expand="block" (click)="send($event)" color="success">{{'CREATE.VEHICLE.send' | translate}}</ion-button>

</ion-footer>
