<!-- <app-menu [title]="title"></app-menu> -->
<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="back()">
      <ion-button class="back" ><ion-icon name="chevron-back-outline"></ion-icon> </ion-button>
      <!-- <ion-back-button defaultHref="/home"></ion-back-button> -->
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons *ngIf="showSetting" slot="end">
      <ion-button (click)="settings()">{{'settings' | translate}}</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>

    <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


  <div class="create">
  
    <div class="step1" *ngIf="step1"   [@enterAnimation]>


      <form action="">

        <div class="form">
          <ion-item lines="none">
            <ion-label color="medium" position="stacked">{{'CREATE.name' | translate}}</ion-label>
            <ion-input placeholder="{{'CREATE.name_placeholder' | translate}}" [(ngModel)]="form.name"  name="name" autofocus="true"></ion-input>
            <span class="error" *ngIf="errors.length!=0 && errors.name" [@enterAnimation]>{{errors.name[0]}}</span>

          </ion-item>

          <ion-item lines="none">
            <ion-label color="medium" position="stacked">{{'CREATE.phone' | translate}}</ion-label>
            <ion-input placeholder="{{'CREATE.phone_placeholder' | translate}}" inputmode="tel" type="tel" [(ngModel)]="form.phone" name="phone" autofocus="true"></ion-input>
            <span class="error" *ngIf="errors.length!=0 && errors.phone" [@enterAnimation]>{{errors.phone[0]}}</span>

          </ion-item>

          <ion-item lines="none">
            <ion-label color="medium" position="stacked">{{'CREATE.address' | translate}}</ion-label>
            <ion-input placeholder="{{'CREATE.address_placeholder' | translate}}"  [(ngModel)]="form.address" name="address" autofocus="true"></ion-input>
            <span class="error" *ngIf="errors.length!=0 && errors.address" [@enterAnimation]>{{errors.address[0]}}</span>

          </ion-item>

          <ion-item lines="none">
            <ion-label color="medium" position="stacked">{{'ORDER.location' | translate}}</ion-label>
            <div class="form-group">
              <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="{{'nearest' | translate}}" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
            </div>
            <agm-map [latitude]="lat" [longitude]="lng" mapDraggable="true" [zoom]="12">
              <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true" animation="DROP" (dragEnd)="updateLocation($event)"></agm-marker>
            </agm-map>

          </ion-item>
          <!-- <ion-radio-group value="biff" [(ngModel)]="orderType" name="orderType">
        
            <ion-item>
              <ion-label style="font-weight:400;font-size:1rem;text-transform: capitalize;">{{'CREATE.immediate' | translate}}</ion-label>
              <ion-radio mode="md" slot="start" value="normal"></ion-radio>
            </ion-item>
      <ion-item>
        <ion-label style="font-weight:400;font-size:1rem;text-transform: capitalize;">{{'CREATE.schedule' | translate}}</ion-label>
        <ion-radio mode="md" slot="start" value="schedule"></ion-radio>
      </ion-item>
      <ion-item *ngIf="orderType=='schedule'" [@enterAnimation]>
        <ion-label>{{'CREATE.OPTIONS.date' | translate}}</ion-label>
        <ion-datetime  cancelText="{{'ALERTS.cancel' | translate}}"  doneText="{{'done' | translate}}" displayFormat="MMM DD, YYYY" [(ngModel)]='date' name="date" [min]="minDate" [max]="maxDate"       placeholder="Nov 19, 2020"></ion-datetime>
      </ion-item>
      <ion-item *ngIf="orderType=='schedule'" [@enterAnimation]>
        <ion-label>{{'CREATE.OPTIONS.time' | translate}}</ion-label>
        <ion-datetime cancelText="{{'ALERTS.cancel' | translate}}" doneText="{{'done' | translate}}" displayFormat="HH:mm A"    [(ngModel)]='time'  name="time"  placeholder="11:47 AM"></ion-datetime>
      </ion-item>
          </ion-radio-group> -->
<!-- Payment Record -->

<!-- <ion-item>
  <ion-label style="font-weight:400;font-size:1rem;text-transform: capitalize;">{{'CREATE.OPTIONS.payment' | translate}}</ion-label>
  <ion-select placeholder="Select One" interface="popover" value="payment" [(ngModel)]="payment" name="payment">
    <ion-select-option value="paid">{{'CREATE.OPTIONS.paid' | translate}}</ion-select-option>
    <ion-select-option value="cod">{{'CREATE.OPTIONS.cod' | translate}}</ion-select-option>
    <ion-select-option value="inshop">{{'CREATE.OPTIONS.inshop' | translate}}</ion-select-option>
    <ion-select-option value="heno">{{'CREATE.OPTIONS.heno' | translate}}</ion-select-option>
    <ion-select-option value="scania">{{'CREATE.OPTIONS.scania' | translate}}</ion-select-option>
    <ion-select-option value="other">{{'CREATE.OPTIONS.other' | translate}}</ion-select-option>



  </ion-select>
</ion-item> -->

<!-- <form action="" *ngIf="payment=='scania' || payment=='inshop' || payment=='heno'"  [@enterAnimation]>



  <ion-item lines="none">
    <ion-input placeholder="{{'CREATE.receipt' | translate}}" [(ngModel)]="receipt" (ionInput)="removeError()"  name="name" autofocus="true"></ion-input>
    <span class="error"  *ngIf="customError.receipt">{{customError.receipt}}</span>

  </ion-item>

</form> -->










          <ion-item lines="none">
            <ion-label color="medium" position="stacked">{{'CREATE.order' | translate}}</ion-label>
            <ion-textarea autoGrow="true" rows="4" [(ngModel)]="form.order" name="order" placeholder="{{'CREATE.order_placeholder' | translate}}"> </ion-textarea>
            <span class="error" *ngIf="errors.length!=0 && errors.order">{{errors.order[0]}}</span>
            <span class="error" *ngIf="errors.length!=0 && errors.image" [@enterAnimation]> {{errors.image[0]}}</span>
          </ion-item>
          <ion-item lines="none">
            <ion-label color="medium" position="stacked">{{'CREATE.note' | translate}}</ion-label>
            <ion-textarea autoGrow="true" rows="1" [(ngModel)]="form.note" name="note" placeholder="{{'CREATE.note_placeholder' | translate}}"> </ion-textarea>

         
            <span class="error" *ngIf="errors.length!=0 && errors.note" [@enterAnimation]>{{errors.note[0]}}</span>

          </ion-item>
          <div class="images">
            <div class="image" *ngIf="image" >
              <ion-thumbnail height="65" width="65">
                <img [src]="image">
              </ion-thumbnail>
            </div>
            <div class="image-upload">
              <ion-button (click)="openCamera()">
                <ion-icon name="camera-sharp"></ion-icon>
              </ion-button>
            </div>
          </div>



        </div>





      </form>
    </div>
    <div class="step2" *ngIf="step2"   [@enterAnimation]>

      <!-- <ion-list>
        <ion-radio-group value="urgency" [(ngModel)]="type">
          <ion-list-header>
            <ion-label>{{'CREATE.OPTIONS.urgency' | translate}}</ion-label>
          </ion-list-header>
      
          <ion-item>
            <ion-label>{{'CREATE.OPTIONS.normal' | translate}}</ion-label>
            <ion-radio slot="start" color="success" value="normal"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>{{'CREATE.OPTIONS.urgent' | translate}}</ion-label>
            <ion-radio slot="start" color="success" value="urgent"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list> -->

            <!-- Collectors Selection -->
            <ion-list-header>
              <ion-label>{{'HOME.collector' | translate}}</ion-label>
              <span class="error" *ngIf="errors.length!=0 && errors.collector" [@enterAnimation]>{{errors.collector[0]}}</span>

            </ion-list-header>
            <div Class="dropdown" *ngFor="let selectedCollect of selectedCollector"     (click)="openCollector()" >
              <div class="left">
            
              <img src="{{selectedCollect.image}}"  scroll="false" width="20%">
              <p> {{selectedCollect.name}} </p>
               
              </div>
            <div class="right">
            <ion-icon name="chevron-down-sharp"></ion-icon>
            </div>
            </div>

            <ion-item lines="none" style="display:none;" >
            
              <ion-select multiple  placeholder="Select One" okText="{{'ALERTS.confirm' | translate}}" cancelText="{{'ALERTS.cancel' | translate}}" (ionChange)="changeCollector()" #Collectorselect interface="alert" name="driver" [(ngModel)]="form.collector" >
                <ion-select-option   [value]="collector.id" *ngFor="let collector of collectors; let i = index">
            {{collector.name}}  
              </ion-select-option>
              </ion-select>
            </ion-item>
            

            <!-- Driver Selection -->

      <ion-list-header>
        <ion-label>{{'HOME.driver' | translate}}</ion-label>
        <span class="error" *ngIf="errors.length!=0 && errors.driver" [@enterAnimation]>{{errors.driver[0]}}</span>

      </ion-list-header>
      
      <div Class="dropdown" *ngFor="let selectedDrive of selectedDriver"  (click)="openDriver()" >
        <div class="left">

        <img src="{{selectedDrive.image}}"  scroll="false" width="20%">
        <p> {{selectedDrive.name}} 
          <span class="danger" *ngIf="selectedDrive.status == 'Out For Delivery'">{{'STATUS.out' | translate}}</span>
          <span class="available" *ngIf="selectedDrive.status == 'Available'">{{'STATUS.available' | translate}}</span>
          <span class="warning" *ngIf="selectedDrive.status == 'Logged Out'">{{'STATUS.logged' | translate}}</span>
        </div>
<div class="right">
  <ion-icon name="chevron-down-sharp"></ion-icon>
</div>
</div>
      <ion-item lines="none" style="display:none;" >
      
        <ion-select multiple placeholder="Select One" okText="{{'ALERTS.confirm' | translate}}" cancelText="{{'ALERTS.cancel' | translate}}" (ionChange)="changeDriver()" #Driverselect interface="alert" name="driver" [(ngModel)]="form.driver" >
          <ion-select-option   [value]="driver.id" *ngFor="let driver of drivers; let i = index">
      
      {{driver.name}}  
        </ion-select-option>
        </ion-select>
      </ion-item>
                    <!-- Vehicle Selection -->

      <ion-list-header> 
        <ion-label>{{'vehicle' | translate}}</ion-label>
        <span class="error" *ngIf="errors.length!=0 && errors.vehicle" [@enterAnimation]>{{errors.vehicle[0]}}</span>

      </ion-list-header>

              <div Class="dropdown" *ngFor="let selectedVehicl of selectedVehicle"  (click)="openVehicle()"  >
                <div class="left">
        
                <img src="{{selectedVehicl.image}}"  scroll="false" width="20%">
                <p> {{selectedVehicl.name}} 
                  <span class="danger" *ngIf="selectedVehicl.status == 'Out For Delivery'">{{'STATUS.out' | translate}}</span>
                  <span class="available" *ngIf="selectedVehicl.status == 'Available'">{{'STATUS.available' | translate}}</span>
                </div>
        <div class="right">
          <ion-icon name="chevron-down-sharp"></ion-icon>
        </div>
        </div>
              <ion-item lines="none" style="display:none;" >
              
                <ion-select multiple placeholder="Select One" okText="{{'ALERTS.confirm' | translate}}" cancelText="{{'ALERTS.cancel' | translate}}" (ionChange)="changeVehicle()"  #Vehicleselect interface="alert" name="vehicle" [(ngModel)]="form.vehicle" >
                  <ion-select-option [value]="vehicle.id" *ngFor="let vehicle of vehicles; let i = index">
              
              {{vehicle.name}}  
                </ion-select-option>
                </ion-select>
              </ion-item>

              <hr style="height:12px;background:#E0E0E0;">

             <ion-list>
              <ion-list-header>
                <ion-label>{{'CREATE.schedule' | translate}}</ion-label>
              </ion-list-header>
              <ion-item  >
                <ion-label>{{'CREATE.OPTIONS.date' | translate}}</ion-label>
                <ion-datetime  cancelText="{{'ALERTS.cancel' | translate}}"  doneText="{{'done' | translate}}" displayFormat="MMM DD, YYYY" [(ngModel)]='date' name="date" [min]="minDate" [max]="maxDate"       placeholder="Nov 19, 2020"></ion-datetime>
                <span class="error" *ngIf="errors.length!=0 && errors.date" [@enterAnimation]>{{errors.date[0]}}</span>
              </ion-item>
              <ion-item >
                <ion-label>{{'CREATE.OPTIONS.start_time' | translate}}</ion-label>
                <ion-datetime cancelText="{{'ALERTS.cancel' | translate}}" doneText="{{'done' | translate}}" displayFormat="HH:mm A"    [(ngModel)]='start_time'  name="time"  placeholder="11:47 AM"></ion-datetime>
                <span class="error" *ngIf="errors.length!=0 && errors.start_time" [@enterAnimation]>{{errors.start_time[0]}}</span>
              </ion-item>

              <ion-item >
                <ion-label>{{'CREATE.OPTIONS.end_time' | translate}}</ion-label>
                <ion-datetime cancelText="{{'ALERTS.cancel' | translate}}" doneText="{{'done' | translate}}" displayFormat="HH:mm A"    [(ngModel)]='end_time'  name="time"  placeholder="11:47 AM"></ion-datetime>
                <span class="error" *ngIf="errors.length!=0 && errors.end_time" [@enterAnimation]>{{errors.end_time[0]}}</span>

              </ion-item>
              <ion-item lines="none">
                <ion-checkbox [(ngModel)]="urgent" value="1" color="primary"></ion-checkbox>
                <ion-label>{{'CREATE.OPTIONS.urgent' | translate}}</ion-label>

              </ion-item>
            </ion-list>



            <ion-list>
              <ion-list-header>
                <ion-label>{{'MANAGE.payment' | translate}}</ion-label>
              </ion-list-header>
              <ion-item>

              <ion-label style="font-weight:400;font-size:1rem;text-transform: capitalize;">{{'CREATE.OPTIONS.payment' | translate}}</ion-label>
              <ion-select placeholder="Select One" interface="popover" value="payment" [(ngModel)]="payment"  name="payment">
                <ion-select-option value="paid">{{'CREATE.OPTIONS.paid' | translate}}</ion-select-option>
                <ion-select-option value="cod">{{'CREATE.OPTIONS.cod' | translate}}</ion-select-option>
                <ion-select-option value="recorded">{{'OFFICE.recorded' | translate}}</ion-select-option>
                <ion-select-option value="shipping">{{'CREATE.OPTIONS.certificate' | translate}}</ion-select-option>
            
            
            
              </ion-select>
            </ion-item>
            <ion-item class="receipt-item" lines="none">
              <ion-input class="receipt-input"  placeholder="{{'CREATE.receipt' | translate}}" [(ngModel)]="receipt" (ionInput)="removeError()"  name="name" autofocus="true"></ion-input>
              <span class="error"  *ngIf="customError.receipt">{{customError.receipt}}</span>
          
            </ion-item>
              <ion-item [@enterAnimation] *ngIf="payment != 'shipping'"  lines="none" style="padding-bottom:1rem;">
                <ion-checkbox [(ngModel)]="shipping" value="1" color="primary"></ion-checkbox>
                <ion-label>{{'CREATE.OPTIONS.shipping' | translate}}</ion-label>

              </ion-item>
            </ion-list>








  
      <!-- <ion-list lines="full">
        <ion-radio-group value="vehicle" name="vehicle" [(ngModel)]="form.vehicle" [(ngModel)]="form.vehicle" mode="md">

          <div class="item" *ngFor="let vehicle of vehicles; let i = index">
            <div class="overlay" *ngIf="vehicle.status == 'Out For Delivery'"></div>

            <ion-item >
              <ion-thumbnail slot="start">
                <img src="{{vehicle.image}}">
              </ion-thumbnail>
              <ion-label>
                <h4>{{vehicle.name}}</h4>
                <h6 class="warning" *ngIf="vehicle.status == 'Out For Delivery'">{{'STATUS.out' | translate}}</h6>
                <h6 class="available" *ngIf="vehicle.status == 'Available'">{{'STATUS.available' | translate}}</h6>
                              </ion-label>

              <ion-radio slot="end" value="{{vehicle.id}}"></ion-radio>

            </ion-item>
          </div>

        </ion-radio-group>


      </ion-list> -->

    </div>




  </div>


</ion-content>



<ion-footer *ngIf="step1" [@enterAnimation] style="display:flex;">
  <!-- <ion-button class="schedule"  (click)="schedule($event,'schedule')" expand="block" style="width:100%"> {{'CREATE.schedule' | translate}}</ion-button> -->
  <ion-button color="primary" (click)="next($event,'proceed')" expand="block" style="width:100%"> {{'CREATE.proceed' | translate}}</ion-button>
</ion-footer>

<!-- 
<ion-footer *ngIf="step2" [@enterAnimation]>
  <ion-button expand="block" style="color:#fff;" (click)="next($event,'driver')" color="success">{{'CREATE.PILOT.title' | translate}}</ion-button>
</ion-footer>


<ion-footer *ngIf="step3" [@enterAnimation]>
  <ion-button expand="block" style="color:#fff;" (click)="next($event,'vehicle')" color="success">{{'CREATE.VEHICLE.title' | translate}}</ion-button>
</ion-footer> -->

<ion-footer *ngIf="step2" [@enterAnimation]>
  <ion-button expand="block" style="color:#fff;" (click)="send($event)" color="success">{{'CREATE.VEHICLE.send' | translate}}</ion-button>

</ion-footer>
