<app-menu title="{{ 'CONFIRM.title' | translate}}" ></app-menu>
<ion-content>
<div class="confirm">

<ion-text class="done">
  <h6>{{ 'CONFIRM.done' | translate}}</h6>
</ion-text>
<ion-text class="sent">
  <h1>{{ 'CONFIRM.sent' | translate}}</h1>
</ion-text>
<ion-text class="notified">
  <p>{{ 'CONFIRM.notify' | translate}}</p>
</ion-text>
<div class="new">
  <ion-button color="light" expand="block" routerLink="/orders/create">{{ 'CONFIRM.new' | translate}}</ion-button>
</div>

</div>





</ion-content>
