<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'SETTINGS.VEHICLES.title' | translate}}</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="settings()">Settings</ion-button>
    </ion-buttons> -->

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<ion-text class="swipe"><h6>{{'SETTINGS.VEHICLES.swipe' | translate}}</h6></ion-text>


<div class="pilots" *ngIf="!loading">

<!-- List of Sliding Items -->
<ion-list  lines="full">


    <!-- Sliding item with icon bottom options on end side -->
    <ion-item-sliding *ngFor="let vehicle of vehicles; let i = index">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="{{vehicle.image}}">
        </ion-thumbnail>
        <ion-label>
          <h2>{{vehicle.name}}</h2>
        </ion-label>

      </ion-item>
      <ion-item-options>
        <ion-item-option color="primary"  (click)="edit(vehicle.id)">
          <ion-icon slot="bottom" name="create-outline"></ion-icon>
          {{'edit'| translate}}
        </ion-item-option>
        <ion-item-option (click)="delete(vehicle.id,i)" color="danger">
          <ion-icon slot="bottom" name="trash-outline"></ion-icon>
          {{'delete' | translate}}

        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
</ion-list>
</div>

<div class="pilots" *ngIf="loading">

  <ion-list  lines="full">


    <!-- Sliding item with icon bottom options on end side -->
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated style="border-radius:40px;width: 100%"></ion-skeleton-text>

          <!-- <ion-skeleton-text style="height:100px;"></ion-skeleton-text> -->
        </ion-thumbnail>
        <ion-label>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>

        </ion-label>

      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated style="border-radius:40px;width: 100%"></ion-skeleton-text>

          <!-- <ion-skeleton-text style="height:100px;"></ion-skeleton-text> -->
        </ion-thumbnail>
        <ion-label>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>

        </ion-label>

      </ion-item>


      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated style="border-radius:40px;width: 100%"></ion-skeleton-text>

          <!-- <ion-skeleton-text style="height:100px;"></ion-skeleton-text> -->
        </ion-thumbnail>
        <ion-label>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>

        </ion-label>

      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated style="border-radius:40px;width: 100%"></ion-skeleton-text>

          <!-- <ion-skeleton-text style="height:100px;"></ion-skeleton-text> -->
        </ion-thumbnail>
        <ion-label>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>

        </ion-label>

      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated style="border-radius:40px;width: 100%"></ion-skeleton-text>

          <!-- <ion-skeleton-text style="height:100px;"></ion-skeleton-text> -->
        </ion-thumbnail>
        <ion-label>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>

        </ion-label>

      </ion-item>
  
  
</ion-list>

</div>


</ion-content>

<ion-footer>
  <ion-button  expand="block" routerLink="/settings/vehicles/create"> <ion-icon name="add-outline" ></ion-icon>{{'SETTINGS.VEHICLES.new' | translate}}</ion-button>
</ion-footer>