<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'SETTINGS.PILOTS.title' | translate}}</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="settings()">Settings</ion-button>
    </ion-buttons> -->

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.5" pullMin="100" pullMax="200">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<!-- <ion-text class="swipe"><h6>{{'SETTINGS.PILOTS.swipe' | translate}}</h6></ion-text> -->


<div class="pilots" *ngIf="!loading">

<!-- List of Sliding Items -->
<ion-list  lines="full">


    <!-- Sliding item with icon bottom options on end side -->
    <ion-item *ngFor="let pilot of pilots; let i = index" >
        <ion-thumbnail slot="start">
          <img src="{{pilot.image}}">
        </ion-thumbnail>
        <ion-label>
          <h2>{{pilot.name}}</h2>
          <h6 *ngIf="pilot.role=='Manager'">{{'SETTINGS.PILOTS.INPUTS.manager' | translate}}</h6>
          <h6 *ngIf="pilot.role=='Pilot'">{{'SETTINGS.PILOTS.INPUTS.driver' | translate}}</h6>

        </ion-label>

      <ion-buttons slot="end" *ngIf="pilot.id != userId">
        <ion-button color="success" fill="solid" (click)="edit(pilot.id)">
          <ion-icon  name="create-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="delete(pilot.id,i)" fill="solid" color="danger">
          <ion-icon name="trash-outline"></ion-icon>

        </ion-button>
      </ion-buttons>
    </ion-item>
</ion-list>
</div>

<div class="pilots" *ngIf="loading">

  <ion-list  lines="full">


    <!-- Sliding item with icon bottom options on end side -->
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated style="border-radius:40px;width: 100%"></ion-skeleton-text>

          <!-- <ion-skeleton-text style="height:100px;"></ion-skeleton-text> -->
        </ion-thumbnail>
        <ion-label>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>

        </ion-label>

      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated style="border-radius:40px;width: 100%"></ion-skeleton-text>

          <!-- <ion-skeleton-text style="height:100px;"></ion-skeleton-text> -->
        </ion-thumbnail>
        <ion-label>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>

        </ion-label>

      </ion-item>


      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated style="border-radius:40px;width: 100%"></ion-skeleton-text>

          <!-- <ion-skeleton-text style="height:100px;"></ion-skeleton-text> -->
        </ion-thumbnail>
        <ion-label>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>

        </ion-label>

      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated style="border-radius:40px;width: 100%"></ion-skeleton-text>

          <!-- <ion-skeleton-text style="height:100px;"></ion-skeleton-text> -->
        </ion-thumbnail>
        <ion-label>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>

        </ion-label>

      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated style="border-radius:40px;width: 100%"></ion-skeleton-text>

          <!-- <ion-skeleton-text style="height:100px;"></ion-skeleton-text> -->
        </ion-thumbnail>
        <ion-label>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>

        </ion-label>

      </ion-item>
  
  
</ion-list>

</div>


</ion-content>

<ion-footer>
  <ion-button  expand="block" routerLink="/settings/pilots/create"> <ion-icon name="add-outline" ></ion-icon> {{'SETTINGS.PILOTS.new' | translate}}</ion-button>
</ion-footer>