<ion-header translucent="true">
    <ion-toolbar>
      <ion-title>{{'HOME.portal' | translate}}</ion-title>
      <ion-buttons slot="start">
            <ion-button (click)="logOut()">{{'logout' | translate}}</ion-button>
        <!-- <ion-button routerLink="/settings">{{'settings' | translate}}</ion-button> -->
      </ion-buttons>
  
    </ion-toolbar>

  </ion-header>
  


<ion-content>
    <div class="home">
        <ion-segment dir="ltr" (ionChange)="changeLang()" [(ngModel)]="selectedLang">
            <ion-segment-button value="en">
              <ion-label>EN</ion-label>
            </ion-segment-button>
            <ion-segment-button value="ar">
              <ion-label>AR</ion-label>
            </ion-segment-button>
          </ion-segment>
    <ion-grid>

    <ion-row class="ion-align-items-center ion-justify-content-center" >
        <ion-col size="6">

            <div class="orderButton"   (click)="orderBTN($event,'orders/manage')" >
<div class="orderButtonCard">
                    
                    <ion-text class="manager-text" [ngClass]="{'unactive':!roles.manager}" >
                        <h3> {{'HOME.manager' | translate}}</h3>
                    </ion-text>
                </div>

            </div>
            </ion-col>
            <ion-col size="6">
                <div class="orderButton"   (click)="orderBTN($event,'collector')" >
    <div class="orderButtonCard">                        
                        <ion-text class="collector-text" [ngClass]="{'unactive':!roles.collector}">
                            <h3> Collector</h3>
                        </ion-text>
                    </div>
    
                </div>
       </ion-col>

       <ion-col size="6">
        <div class="orderButton"   (click)="orderBTN($event,'office')"  >
<div class="orderButtonCard">                        
                <ion-text class="office-text" [ngClass]="{'unactive':!roles.office}">
                    <h3> Office</h3>
                </ion-text>
            </div>

        </div>
</ion-col>

<ion-col size="6">
    <div class="orderButton"   (click)="orderBTN($event,'driver')" >
<div class="orderButtonCard">                        
            <ion-text class="driver-text" [ngClass]="{'unactive':!roles.driver}">
                <h3> {{'HOME.driver' | translate}}</h3>
            </ion-text>
        </div>

    </div>
</ion-col>

     
        <!-- <ion-col *ngIf="!hideDriver">
<div class="orderButton" (click)="orderBTN($event,'order')">
    <div class="orderButtonCard">

        <img id="driver" src="/assets/images/manage.svg" alt="">

                
        <ion-text class="driver-text">
            <h3> {{'HOME.driver' | translate}}</h3>
        </ion-text>
    </div>
        
</div>


        </ion-col> -->
      </ion-row>
    </ion-grid>

</div>


</ion-content>

<!-- 
<ion-footer>
    <div class="logoutbtn">
        <ion-button color="danger" expand="block" (click)="logOut()"><ion-icon name="log-out-outline"></ion-icon>{{'HOME.logout' | translate}}</ion-button>
    </div>
    
</ion-footer> -->