<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'SETTINGS.title' | translate}}</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="settings()">Settings</ion-button>
    </ion-buttons> -->

  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="settings">
    <ion-segment dir="ltr" style="    margin-top: 2rem;" (ionChange)="changeLang()" [(ngModel)]="selectedLang">
      <ion-segment-button value="en">
        <ion-label>EN</ion-label>
      </ion-segment-button>
      <ion-segment-button value="ar">
        <ion-label>AR</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-grid>

    <ion-row class="ion-align-items-center ion-justify-content-center" >
        <ion-col size="12">

            <div class="orderButton" (click)="settingsBTN($event,'settings/pilots')" >
<div class="orderButtonCard">
              <img src="/assets/images/pilots.svg" alt="">
                    
                    <ion-text>
                        <h3 color="dark"> {{'SETTINGS.pilots' | translate}}</h3>
                    </ion-text>
                </div>

            </div>
       



            </ion-col>
        <ion-col>
<div class="orderButton" (click)="settingsBTN($event,'settings/vehicles')">
    <div class="orderButtonCard">

        <img src="/assets/images/vehicles.svg" alt="">

                
        <ion-text>
            <h3 color="dark"> {{'SETTINGS.vehicles' | translate}}</h3>
        </ion-text>
    </div>
        
</div>


        </ion-col>
      </ion-row>
    </ion-grid>

</div>

</ion-content>

